{% extends "main/base.html" %}
{% load static %}

{% block content %}

<body>
<div id="container">
	<video autoplay="true" id="videoElement"></video>
	<video id="myVideo" playsinline class="video-js vjs-default-skin"></video>
</div>
</body>

<script src="{% static 'main/camera.js' %}"></script>

<script src="{% static 'main/videojs-control.js' %}"></script>

<script src="{% static 'main/camera.js' %}"></script>

<form method="post" enctype=multipart/form-data>

    {% for x in test_form %}
        {{ x.errors }}
        {{x}}<br><hr>
    {% endfor %}
    {% csrf_token %}
    <button class="btn btn-success" type="submit">
        Submit
    </button>
</form>


{% endblock content %}
